body {
    margin: 0;
    font-family: 'Jost', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

p {
    margin: 0;
}

div.top {
    background-color: white;
    width: 100%;
    max-width: 450px;
    position: fixed;
}

main {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    max-height: auto;
}

header {
    display: flex;
    padding: 5px;
}

header > div {
    flex-grow: 1;
}

header > h1 {
    flex-grow: 2;
    font-size: 18px;
    text-align: center;
    font-weight: 400;
}
header > div:nth-of-type(2) {
    background-image: url(search.svg);
    background-position: 50% 50%;
    background-size: 38%;
    background-repeat: no-repeat;
}

nav {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    border-bottom: 1px solid #d3d7e1;
}

nav > div {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    padding: 5px 0px;
}

nav .active {
    border-bottom: 2px solid black;
}


div.song-list {
    padding: 5px 10px;
}

div.song-item {
    border-bottom: 1px solid #f5f0f0;
    display: flex;
    margin-bottom: 3px;
    padding: 3px 0px;
    -moz-user-select: none; /* Mozilla Firefox */
    -ms-user-select: none; /* Internet Explorer (не поддерживается) */
    -o-user-select: none; /* Opera Presto (не поддерживается) */
    -webkit-user-select: none; /* Google Chrome, Opera Next, Safari */
}

div.song-item span.number {
    font-weight: 500;
    margin-right: 15px;
}



