body {
    display: flex;
    justify-content: center;
    background-color: #2f2f3a;
    font-family: 'Montserrat', sans-serif;
}

div.chat {
    display: flex;
    flex-direction: column;
    align-self: center;

    padding: 15px;

    width: 500px;
    height: 300px;

    background-color: white;
    border-radius: 7px;
    border-bottom: 1px solid #bfb4b4;
}

div.message-list {
    display: flex;
    flex-direction: column-reverse;


    flex-grow: 999;

    border: 1px solid #d4cccc;
    border-radius: 4px;

    margin-bottom: 10px;
    padding: 10px;

    overflow-x: hidden;
    overflow-y: auto;
    word-wrap: break-word;
}

div.message-list span {
    font-size: 14px;
}


form {
    display: flex;
}

.control input {
    flex-grow: 999;
    border: 1px solid #d4cccc;
    border-radius: 4px;
    height: 25px;
    outline: none;
    padding-left: 10px;
    margin-right: 10px;
}

.control button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    width: 25px;
    background-image: url(paper-plane.png);
    background-repeat: no-repeat;
    background-size: 82%;
    background-position: 50% 50%;
}